.card{
    width: 400px;
    background-color: darkgray;
    border: 1px solid gray;
    border-radius:  10px;
    margin: 20px;
}

.card-img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-top: 10px;
}